body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* This class allows the columns on the index view page to display full screen height even when empty*/
.height {
    height: 80vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

.silver-background {
    background-color: silver;
}

/*some basic styling to fill the screen while in the create, edit or delete view page*/
.create-view {
    height: 80vh;
    background-color: silver
}

/* These two classes allow the views to toggle between the two tables when the favorites box is checked*/
.list{
    display: none;
}

.display-list{
    display:block;
}


